.git
.github
.nx
.trae
.venv
.vscode
coverage
dist
node_modules
pgdata
redisdata
reports
tmp
uploads
.env
docker/infra/local/.env
docker/map-ai/local/.env
docker/map-ai/prod/.env
apps/map-ai/agent/.env
npm-debug.log*
pnpm-debug.log*
